body {
    background-color: aliceblue;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 5px;
    font-style: normal;
  }


.card {
    background-color: rgb(215, 245, 235);
    max-height: 900px;
    max-width: 300px;

    flex-wrap: nowrap;
    padding: 16px 16px;
    border-radius: 28px;
    border: 1rem solid;
    border-color: rgb(165, 241, 216);
    margin-left: auto; margin-right: auto;


}

img {
    width: 300px;
    max-height: 400px;
}

#cat-name {
    flex-wrap: wrap;
}

.text-align-center {
    text-align: center;
}

.details {
    margin: 0.5rem;
}

#accept-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    width: 120px;

}

.round-button {
    width: 60px;
    height: 60px;
    background-color: #00ff7f;
    border: solid 5px;
    border-radius: 30px;
    border-color: aquamarine;
}

#dislike {
    background-color: rgb(214, 60, 91);
    border-color: red;
    margin-left: auto;
    margin-right: auto;
    width: 120px;
}

#buttons {
    display: flex;
    padding-top: 0.5rem;
}

#cat-name {
    text-align: center;
}

#image {
    border-radius: 16px;
}